package {{packageName}}.domain;

{{#lombokEnabled}}
import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
{{/lombokEnabled}}
import jakarta.persistence.*;
import java.util.*;

{{#lombokEnabled}}
@Data
@AllArgsConstructor
@NoArgsConstructor
@Builder
{{/lombokEnabled}}
{{#hibernateEnabled}}
@Entity
{{/hibernateEnabled}}
public class {{name}} {
{{#hibernateEnabled}}
    @Id
{{/hibernateEnabled}}
    private {{idFieldType}} {{idFieldName}};
{{#fields}}
    private {{fieldType}} {{fieldName}};
{{/fields}}
{{^lombokEnabled}}

    public {{name}}() {}

    {{#hasField}}
    public {{name}}({{idFieldType}} {{idFieldName}}, {{#fields}}{{fieldType}} {{fieldName}}{{^isLastField}}, {{/isLastField}}{{/fields}}) {
        this.{{idFieldName}} = {{idFieldName}}
        {{#fields}}
        this.{{fieldName}} = {{fieldName}};
        {{/fields}}
    }
    {{/hasField}}
{{/lombokEnabled}}

    public {{idFieldType}} get{{idFieldNameUpper}}() {
        return {{idFieldName}};
    }

    public void set{{idFieldNameUpper}}({{idFieldType}} {{idFieldName}}) {
        this.{{idFieldName}} = {{idFieldName}};
    }

{{^lombokEnabled}}
    {{#fields}}

    public {{fieldType}} get{{fieldNameUpper}}() {
        return {{fieldName}};
    }

    public void set{{fieldNameUpper}}({{fieldType}} {{fieldName}}) {
        this.{{fieldName}} = {{fieldName}};
    }
    {{/fields}}
{{/lombokEnabled}}

{{#relationships}}
    {{#isOneToMany}}
        {{#isBidirectional}}
            @OneToMany(mappedBy = "{{targetEntityVarName}}", cascade = CascadeType.ALL, orphanRemoval = true)
            private List<{{targetEntity}}> {{targetEntityVarNamePlural}} = new ArrayList<>();
        {{/isBidirectional}}
        {{#isUnidirectional}}
            @OneToMany(cascade = CascadeType.ALL, orphanRemoval = true)
            @JoinColumn(name = "{{fromEntityField}}")
            private List<{{targetEntity}}> {{targetEntityVarNamePlural}} = new ArrayList<>();
        {{/isUnidirectional}}
    {{/isOneToMany}}

    {{#isManyToOne}}
        @ManyToOne
        {{#isUnidirectional}}
            @JoinColumn(name = "{{toEntityField}}", nullable = false)
        {{/isUnidirectional}}
        private {{targetEntity}} {{targetEntityVarName}};
    {{/isManyToOne}}

    {{#isManyToMany}}
        {{#isBidirectional}}
            @ManyToMany
            @JoinTable(
            name = "{{fromEntity}}_{{toEntity}}", // Name of the join table
            joinColumns = @JoinColumn(name = "{{fromEntity}}_id"), // FK for Student
            inverseJoinColumns = @JoinColumn(name = "{{toEntity}}_id") // FK for Course
            )
            private List<{{targetEntity}}> {{targetEntityVarNamePlural}} = new ArrayList<>();
        {{/isBidirectional}}
        {{#isUnidirectional}}
            @ManyToMany
            @JoinTable(
            name = "{{entityName}}_{{targetEntity}}",
            joinColumns = @JoinColumn(name = "{{entityName}}_id"),
            inverseJoinColumns = @JoinColumn(name = "{{targetEntity}}_id")
            )
            private List<{{targetEntity}}> {{targetEntityVarNamePlural}} = new ArrayList<>();
        {{/isUnidirectional}}
    {{/isManyToMany}}

    {{#isOneToOne}}
        {{#isBidirectional}}
            @OneToOne(mappedBy = "{{targetEntityVarName}}", cascade = CascadeType.ALL)
            private {{targetEntity}} {{targetEntityVarName}};
        {{/isBidirectional}}
        {{#isUnidirectional}}
            @OneToOne(cascade = CascadeType.ALL)
            @JoinColumn(name = "{{toEntityField}}")
            private {{targetEntity}} {{targetEntityVarName}};
        {{/isUnidirectional}}
    {{/isOneToOne}}

    {{#isInverseBidirectional}}
        // Inverse side of bidirectional relationship
        {{#isOneToMany}}
            @ManyToOne
            @JoinColumn(name = "{{toEntityField}}")
            private {{targetEntity}} {{targetEntityVarName}};
        {{/isOneToMany}}

        {{#isManyToMany}}
            private List<{{targetEntity}}> {{targetEntityVarNamePlural}} = new ArrayList<>();
        {{/isManyToMany}}

        {{#isOneToOne}}
            @OneToOne
            @JoinColumn(name = "{{fromEntityField}}")
            private {{targetEntity}} {{targetEntityVarName}};
        {{/isOneToOne}}
    {{/isInverseBidirectional}}
{{/relationships}}

{{#relationships}}
    {{#isOneToMany}}
        {{^isInverseBidirectional}}
            public List<{{targetEntity}}> get{{targetEntityVarNameUpperPlural}}() {
            return {{targetEntityVarNamePlural}};
            }

            public void set{{targetEntityVarNameUpperPlural}}(List<{{targetEntity}}> {{targetEntityVarNamePlural}}) {
            this.{{targetEntityVarNamePlural}} = {{targetEntityVarNamePlural}};
            }
        {{/isInverseBidirectional}}
    {{/isOneToMany}}

    {{#isManyToOne}}
        public {{targetEntity}} get{{targetEntityVarNameUpper}}() {
        return {{targetEntityVarName}};
        }

        public void set{{targetEntityVarNameUpper}}({{targetEntity}} {{targetEntityVarName}}) {
        this.{{targetEntityVarName}} = {{targetEntityVarName}};
        }
    {{/isManyToOne}}

    {{#isOneToOne}}
        public {{targetEntity}} get{{targetEntityVarNameUpper}}() {
        return {{targetEntityVarName}};
        }

        public void set{{targetEntityVarNameUpper}}({{targetEntity}} {{targetEntityVarName}}) {
        this.{{targetEntityVarName}} = {{targetEntityVarName}};
        }
    {{/isOneToOne}}

    {{#isManyToMany}}
        public List<{{targetEntity}}> get{{targetEntityVarNameUpperPlural}}() {
        return {{targetEntityVarNamePlural}};
        }

        public void set{{targetEntityVarNameUpperPlural}}(List<{{targetEntity}}> {{targetEntityVarNamePlural}}) {
        this.{{targetEntityVarNamePlural}} = {{targetEntityVarNamePlural}};
        }
    {{/isManyToMany}}

    {{#isInverseBidirectional}}
        {{#isOneToMany}}
            public {{targetEntity}} get{{targetEntityVarNameUpper}}() {
            return {{targetEntityVarName}};
            }

            public void set{{targetEntityVarNameUpper}}({{targetEntity}} {{targetEntityVarName}}) {
            this.{{targetEntityVarName}} = {{targetEntityVarName}};
            }
        {{/isOneToMany}}

        {{#isManyToOne}}
            public {{targetEntity}} get{{targetEntityVarNameUpper}}() {
            return {{targetEntityVarName}};
            }

            public void set{{targetEntityVarNameUpper}}({{targetEntity}} {{targetEntityVarName}}) {
            this.{{targetEntityVarName}} = {{targetEntityVarName}};
            }
        {{/isManyToOne}}
    {{/isInverseBidirectional}}
{{/relationships}}
}
