package {{config.packageName}};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
public class {{config.name}}ApplicationTests {
    @Test
    void contextLoads() {
    }
}
