package {{packageName}}.repositories;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import {{packageName}}.domain.{{entity}};

@Repository
public interface {{entity}}Repository extends JpaRepository<{{entity}}, {{idFieldType}}> {
}