spring:
{{#activeProfiles}}
    profiles:
        active: {{activeProfiles}}
{{/activeProfiles}}

{{#dataSources}}
    datasource-{{dbName}}:
        url: jdbc:{{dbType}}://{{host}}:{{port}}/{{dbName}}
        username: {{username}}
        password: {{password}}
        driver-class-name: {{driver}}
{{/dataSources}}

{{#environmentVariables}}
    {{key}}: {{value}}
{{/environmentVariables}}

# Custom properties
{{#customProperties}}
    {{key}}: {{value}}
{{/customProperties}}
