# Ignore Maven/Gradle build files
target/
*.jar
*.war
*.ear

# Ignore local environment settings
.env
*.iml
.idea/
.vscode/
*.log

# Ignore dependencies
node_modules/
build/
out/

# Ignore OS files
.DS_Store
Thumbs.db
