spring:
    profiles:
        active: dev
{{#name}}
    application: {{name}}
{{/name}}
{{#dbConfig}}
{{#isDatasource}}
    jpa:
        database-platform: org.hibernate.dialect.{{#isMySql}}MySQL8Dialect{{/isMySql}}{{#isPostgres}}PostgreSQLDialect{{/isPostgres}}{{#isOracle}}OracleDialect{{/isOracle}}{{#isMssql}}SQLServerDialect{{/isMssql}}{{#isMariaDb}}MariaDBDialect{{/isMariaDb}}
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    datasource:
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
    {{#isMySql}}
        url: jdbc:mysql://localhost:3306/{{name}}
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver
    {{/isMySql}}
    {{#isPostgres}}
        url: jdbc:postgresql://localhost:5432/{{name}}
        username: postgres
        password: password
        driver-class-name: org.postgresql.Driver
    {{/isPostgres}}
    {{#isMariaDb}}
        url: jdbc:mariadb://localhost:3306/{{name}}
        username: root
        password: root
        driver-class-name: org.mariadb.jdbc.Driver
    {{/isMariaDb}}
    {{#isMssql}}
        url: jdbc:sqlserver://localhost:1433;databaseName={{name}}
        username: sa
        password: password
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    {{/isMssql}}
    {{#isOracle}}
        url: jdbc:oracle:thin:@localhost:1521:{{name}}
        username: system
        password: password
        driver-class-name: oracle.jdbc.OracleDriver
    {{/isOracle}}
{{/isDatasource}}
{{#isData}}
    data:
    {{#isCouchBase}}
    {{/isCouchBase}}
    {{#isCassandra}}
    {{/isCassandra}}
    {{#isMongoDb}}
    {{/isMongoDb}}
{{/isData}}
{{/dbConfig}}
{{#serverPort}}
server:
    port: {{serverPort}}
{{/serverPort}}
