plugins {
    id 'java'
    id 'org.springframework.boot' version '{{config.springBootVersion}}'
    id 'io.spring.dependency-management' version '1.1.7'
    id 'jar'
}

group = '{{config.group}}'
version = '0.0.1-SNAPSHOT'

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of({{config.javaVersion}})
    }
}

repositories {
    mavenCentral()
}

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter'
    implementation 'org.springframework.boot:spring-boot-starter-web'
{{#config.lombokEnabled}}
    implementation 'org.projectlombok:lombok:1.18.30'
    annotationProcessor 'org.projectlombok:lombok:1.18.30'
{{/config.lombokEnabled}}
{{#config.jwtAuthEnabled}}
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'io.jsonwebtoken:jjwt:0.11.5'
    implementation 'org.springframework.security:spring-security-web'
{{/config.jwtAuthEnabled}}
{{#config.hibernateEnabled}}
    implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
{{/config.hibernateEnabled}}
    implementation 'org.springframework.boot:spring-boot-starter-tomcat'
    testImplementation 'org.springframework.boot:spring-boot-starter-test'
    testRuntimeOnly 'org.junit.platform:junit-platform-launcher'
{{#dependencies}}
    implementation '{{groupId}}:{{artifactId}}{{#version}}:{{version}}{{/version}}'
{{/dependencies}}
}

tasks.named('test') {
    useJUnitPlatform()
}