package {{packageName}}.services;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.util.ReflectionUtils;
import java.lang.reflect.Field;
{{#caching}}
import org.springframework.cache.annotation.Cacheable;
import org.springframework.cache.annotation.CacheEvict;
import org.springframework.cache.annotation.CachePut;
import org.springframework.cache.annotation.Caching;
{{/caching}}

import java.util.List;
import java.util.Map;
import java.util.Optional;
import {{packageName}}.repositories.{{entity}}Repository;
import {{packageName}}.domain.{{entity}};

@Service
public class {{entity}}Service {

    @Autowired
    private {{entity}}Repository {{entityLower}}Repository;

    {{#caching}}
    @Cacheable(value = "{{entityLower}}Cache", key = "#{{entityLower}}.id")
    @CacheEvict(value = "{{entityLower}}sCache"){{/caching}}
    public {{entity}} save{{entity}}({{entity}} {{entityLower}}) {
        return {{entityLower}}Repository.save({{entityLower}});
    }

    {{#caching}}
    @Cacheable(value = "{{entityLower}}sCache"){{/caching}}
    public List<{{entity}}> getAll{{entity}}s() {
        return {{entityLower}}Repository.findAll();
    }

    {{#caching}}
    @Cacheable(value = "{{entityLower}}Cache", key = "#id")
    {{/caching}}
    public Optional<{{entity}}> get{{entity}}ById({{idFieldType}} id) {
        return {{entityLower}}Repository.findById(id);
    }

    {{#caching}}
    @Caching(evict = {
        @CacheEvict(value = "{{entityLower}}Cache", key = "#id"),
        @CacheEvict(value = "{{entityLower}}sCache")
    }){{/caching}}
    public void delete{{entity}}({{idFieldType}} id) {
        {{entityLower}}Repository.deleteById(id);
    }

    {{#caching}}
    @CachePut(value = "{{entityLower}}Cache", key = "#id")
    @CacheEvict(value = "{{entityLower}}sCache"){{/caching}}
    public {{entity}} update{{entity}}Partial({{idFieldType}} id, Map<String, Object> updates) {
        {{entity}} {{entityLower}} = {{entityLower}}Repository.findById(id)
            .orElseThrow(() -> new RuntimeException());

        updates.forEach((fieldName, fieldValue) -> {
            Field field = ReflectionUtils.findField({{entity}}.class, fieldName);
            if (field != null) {
                field.setAccessible(true);
                ReflectionUtils.setField(field, {{entityLower}}, fieldValue);
            }
        });
        return {{entityLower}}Repository.save({{entityLower}});
    }
}
