package {{basePackage}};

import javax.persistence.*;
import javax.validation.constraints.NotNull;

@Entity
public class {{className}} {

    {{#fields}}
    {{#required}}@NotNull{{/required}}
    @Column{{#unique}}(unique = true){{/unique}}
    private {{type}} {{name}};

    {{/fields}}

    // Getter and Setter methods
    {{#fields}}
    public {{type}} get{{nameCapitalized}}() {
        return {{name}};
    }

    public void set{{nameCapitalized}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
    }
    {{/fields}}

}
