package {{projectMetaData.basePackage}};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
public class {{projectMetaData.projectName}}ApplicationTests {
    @Test
    void contextLoads() {
    }
}
